{{> ../partials/header }}

  {{!-- Hello World --}}
  <h1 class="p-7">Hello World</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis doloribus hic eum ex sint perspiciatis minus explicabo minima? Minus quisquam ad sequi cupiditate quos mollitia voluptates laboriosam numquam architecto esse?</p>

{{> ../partials/footer }}
