{{> ../partials/header }}

  {{!-- Hello World --}}
  <h1 class="p-7">{{ pageTitles.home }}</h1>

  <p>{{ lorem.article }}</p>

  <p>{{ lorem.title }}</p>

  <p>{{ lorem.excerpt }}</p>

{{> ../partials/footer }}
