<div class="jumbotron jumbotron-fluid py-6 bg-theme-1">
  <div class="container-fluid text-center">
    <h1 class="display-4 text-white">{{ lorem.title-long }}</h1>
    <p class="lead text-white">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>